:root {
  --main-color: #f0950f;
  --page-background-color: #242424;
  --highlight-over: #424242;
}

body {
  background-color: var(--page-background-color);
  text-align: center;
  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Rokkitt', serif;
  color: white;
}

h4 {
  margin-top: 8px;
}

input:focus {
  outline: none !important;
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

button {
  border: none;
}

.top-button-image {
  width: 15px;
}

.top-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.right-top-div {
  display: inline-block;
}

.clue-list {
  padding: 0px 10px;
  border: 2px solid var(--main-color);
}

.game-title {
  font-family: 'Monoton', cursive;
  color: var(--main-color);
  font-size: 45px;
  display: flex;
  margin: 0px auto;
}

.spacer {
  height: 30px;
}

.btn-space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.header {
  overflow: hidden;
  position: relative;
  /* width: 700px; */
  margin: 0px auto;
  /* background-color: #f1f1f1; */
}

.left {
  /* float: left; */
  text-align: center;
  /* padding: 12px; */
}

.right {
  /* float: right; */
  top: 0px;
  right: 0px;
  position: absolute;
  text-align: center;
  /* padding: 12px; */
  text-decoration: none;
  font-size: 18px;
  /* line-height: 45px; */
  border-radius: 4px;
}

.scott-logo {
  width: 25px;
}


.info-button {}

/* .header{
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
} */

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

body {
  font-family: sans-serif;
}

input {
  border: 2px solid var(--main-color);
  padding: 0.5rem;
  width: 400px;
  background-color: var(--page-background-color);
  border-radius: 10px;
  color: white;
  height: 55px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.autocompleteWrapper {
  width: 400px;
  margin: 0px auto;
}

.suggestionsWrapper {
  width: 400px;
  margin: 0px auto;
  /* position: absolute; */
}

.suggestions {
  z-index: 100;
  color: white;
  background-color: var(--page-background-color);
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 400px;
  /* width: calc(300px + 1rem); */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: var(--highlight-over);
  color: white;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.searchBar {
  position: relative;
}

.lossSpace {
  height: 30px;
}


.text-area {
  padding-bottom: 30px;
}

.text-label {
  display: block;
}

.lastRowTicket {
  height: 20px;
  padding-top: 30px;
}

.flip-button {
  background-color: inherit;
  border: none;
}

.flip-image {
  width: 30px;
}

.share-button {
  width: 90px;
  height: 55px;
  color: var(--main-color);
  background-color: inherit;
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.share-button:hover {
  background-color: var(--main-color);
  color: black;

}

.ticket {
  position: relative;
  background-color: var(--main-color);
  /* width: 45%; */
  height: 360px;
  margin: auto;
  font-family: 'Rokkitt', serif;
}

.hint1 {
  /* filter: blur(10px); */
}

.pixel-movie-image {
  width: 700px;
  height: 393;
}

.table-ticket {
  width: 700px;
  background-color: var(--highlight-over);
  border: 2px solid var(--main-color);
  /* border-radius: 10px; */
  align-items: center;
  margin: auto;
}

.anon-hint {
  color: #999;
}

.ticket-ends {
  width: 8%;
  padding: 20px 0px;
}

.backside-of-ticket {
  float: left;
  width: 50%;
}

.date {
  /* writing-mode: tb-rl; */
  transform: rotate(-180deg);
  font-size: 25px;
}

.everythingelse {
  width: 600px;
  height: 337px;
}

.posterImg {
  filter: blur(8px);
}

.middle-hint-container {
  /* width: 100%; */
  display: contents;
}

.middle-hints {
  display: inline-block;
  width: 50%;
}

.guess-box {
  height: 40px;

}

.btn-divider {
  width: 10px;
  display: inline-block;
}

.movie-title-section {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
  padding: 20px 0px;
}

.hint-title-section {
  margin: auto 0px;
}

.hint-lines {
  height: 2px;
  margin: auto 0px;
  width: 40%;
  background: var(--main-color);
  right: 0;
}

.hint-line-divider {
  width: 20px;
}

.hint-lines-right {}

.hint-board {
  /* width: 90%; */
  background-color: white;
}

.hints-overall {
  align-items: center;
  margin: auto;
  width: 80%;
}

#guess-title {
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Bungee Outline', cursive; */
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Codystar', cursive; */
  /* font-family: 'League Spartan', sans-serif; */
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  font-family: 'Rokkitt', serif;
  /* font-family: 'Stalinist One', cursive; */
  /* font-family: 'Train One', cursive; */
}

.guess-board {
  margin: 0px auto;
  width: 700px;
  padding: 20px;
  background-color: black;
}

.guess-heading {
  color: var(--main-color);

}

.name-of-guess {
  color: black;
  margin: 0px;
}

.guess-list {
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Bungee Outline', cursive; */
  /* font-family: 'Bungee Shade', cursive; */
  /* font-family: 'Codystar', cursive; */
  /* font-family: 'League Spartan', sans-serif; */
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  font-family: 'Rokkitt', serif;
  /* font-family: 'Train One', cursive; */
  margin: 0px auto;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.guess-section {
  border: 2px solid black;
}

.footer {
  padding-bottom: 70px;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.4rem;
  }

  .middle-btn-space {
    display: none;
  }

  .game-title h1 {
    font-size: 120px;
  }

  .right {
    display: grid;
  }

  .top-button {
    height: 50px;
    width: 50px;
  }

  .guess-box {
    height: 100px;
    width: 90%;
    font-size: 40px;
  }

  .guess-board {
    width: 100%;
  }

  .name-of-guess {
    font-size: 3rem;
  }

  .btn-divider {}

  .text-label {
    font-size: 40px;
  }

  .ticket {
    width: 90%;
    height: 500px;
    margin: auto;
  }

  .lastRowTicket {
    padding-top: 60px;
  }

  .flip-image {
    width: 50px;
  }

  .hint-board {
    /* width: 90%; */
    background-color: red;
  }

  .hints-overall {
    align-items: center;
    width: 100%;
  }

  .share-button {
    width: 100px;
    height: 60px;
  }

  .guess-row {
    background-color: aquamarine;
  }




}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

  h4 {
    font-size: 2.7rem;
  }

  .game-title{
    font-size: 5rem;
  }

  .top-button{
    height: 80px;
    width: 80px;
  }
  
  .top-button-image{
    width: 35px;
  }
  
  .scott-logo{
    width: 40px !important;
  }

  input {
    width: 85%;
    height: 100px;
    font-size: 2.5rem;
  }

  .guess-board {
    width: 90%;
    /* padding: 0px; */
  }

  .movie-title-section {
    width: 90%;
  }

  .hint-title-section{
    font-size: 3rem;
  }

  .pixel-movie-image {
    width: 90%;
  }

  .table-ticket {
    width: 90%;
  }

  .suggestions {
    width: 85%;
    font-size: 2.5rem;
    max-height: 500px;
  }

  .suggestions li:not(:last-of-type) {
    height: 100px;
  }

  .suggestionsWrapper {
    width: 85%;
    margin: unset;
  }

  .autocompleteWrapper {
    width: 85%;
  }


}